/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 400;
  src: local('KoHo Regular'), local('KoHo-Regular'), url(https://fonts.gstatic.com/s/koho/v2/K2F-fZ5fmddNNi4UeA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: none;
  align-items: center;
  background-color: #1e242e;
  font-family: 'KoHo', sans-serif;
}
.container {
  margin: 0 auto;
  width: inherit;
  background-color: #fff;
}
@media (min-width: 1025px) {
  .container {
    width: 84%;
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #1e242e;
  padding: 2rem 0;
}
@media (min-width: 600px) {
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }
}
header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 2rem;
}
header .nav-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 1rem;
  padding: 0;
}
@media (min-width: 600px) {
  header .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
header .nav-menu a {
  font-size: 1rem;
  text-decoration: none;
  padding: 0.5rem;
  color: #1e242e;
}
.banner {
  background-image: url('../../assets/adventure.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
}
.banner .hero {
  height: 50%;
  width: 50%;
  padding: 1rem;
  text-align: center;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #1e242e;
}
.banner .hero .title {
  font-size: 1.5rem;
  font-weight: bolder;
}
@media (min-width: 600px) {
  .banner .hero .title {
    font-size: 3rem;
  }
}
.banner .hero .sub {
  font-size: 0.7rem;
  margin: 0.8rem 0;
}
@media (min-width: 600px) {
  .banner .hero .sub {
    font-size: 1rem;
  }
}
.banner .hero button {
  padding: 0.7rem;
  color: #fff;
  background-color: #2a7be3;
  font-size: 1rem;
  border: none;
  margin: 1rem;
  border-radius: 0.3rem;
}
.guide {
  padding: 2rem;
}
.guide h1 {
  text-align: center;
  font-size: 2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
}
.guide .steps {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 600px) {
  .guide .steps {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.guide .steps .step {
  width: 80%;
  text-align: center;
  margin: 1rem 0;
  display: block;
  min-height: 20%;
}
.guide .steps .step .no {
  border: 0.2rem #e97979 solid;
  border-radius: 50%;
  width: 1.5rem;
  margin: 0 auto;
  padding: 0.2rem;
  font-weight: bold;
}
.guide .steps .step h4 {
  font-size: 1rem;
  padding: 1rem 0;
  font-weight: bold;
}
.guide .steps .step img {
  width: 45%;
  height: 148px;
}
.guide .steps .step .desc {
  font-size: 1rem;
  padding: 1rem;
}
.experience {
  padding: 2rem;
  width: 100%;
}
.experience h1 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}
@media (min-width: 600px) {
  .experience h1 {
    text-align: left;
    margin-left: 1rem;
  }
}
.experience .cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .experience .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.experience .card {
  position: relative;
  width: 100%;
  height: 360px;
  padding: 1rem;
  border: 0.09rem #2a7be3 solid;
  margin: 1rem 1rem;
  border-radius: 5%;
}
@media (min-width: 600px) {
  .experience .card {
    width: 35%;
  }
}
@media (min-width: 800px) {
  .experience .card {
    width: 30%;
  }
}
.experience .card .card-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #e97979;
}
.experience .card .card-image img {
  width: 100%;
  margin: 1rem 0;
  max-height: 200px;
}
.experience .card .card-desc {
  text-align: justify;
}
.experience .card button {
  position: absolute;
  color: #e97979;
  background-color: #fff;
  border: 0.09rem #e97979 solid;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem;
  right: 0.5rem;
}
.tour-guide {
  background-image: url('../../assets/unsplash.jpg');
  width: 100%;
  height: 70vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
@media (min-width: 600px) {
  .tour-guide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.tour-guide .tour-register {
  padding: 2rem;
  color: #fff;
}
.tour-guide .tour-register h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-align: left;
  margin: 1rem 0;
  text-shadow: #000 1px 0 7px;
}
@media (min-width: 600px) {
  .tour-guide .tour-register h1 {
    font-size: 3rem;
  }
}
.tour-guide .tour-register p {
  font-size: 1rem;
  line-height: 1.5rem;
  text-shadow: #000 1px 0 5px;
}
@media (min-width: 600px) {
  .tour-guide .tour-register p {
    font-size: 1.5rem;
  }
}
.tour-guide .tour-register button {
  margin: 1rem 0;
  padding: 1rem;
  font-size: 1rem;
  background-color: #e97979;
  color: #fff;
  border: none;
  border-radius: 0.2rem;
}
.search {
  padding: 2rem;
  width: 100%;
  text-align: center;
}
.search .search-header {
  padding: 0.5rem;
}
.search .search-header h1 {
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  color: #1e242e;
}
.search .search-category .search-title {
  margin: 0.5rem 0;
  padding: 0.5rem;
  color: #2a7be3;
}
.search .search-category .search-title h1 {
  font-size: 1.5rem;
}
.search .search-category .search-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .search .search-category .search-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
.search .search-category .search-cards .search-card {
  position: relative;
  margin-bottom: 1rem;
}
@media (min-width: 600px) {
  .search .search-category .search-cards .search-card {
    width: 30%;
  }
}
.search .search-category .search-cards .search-card img {
  width: 100%;
  height: 250px;
  border-radius: 0.3rem;
}
.search .search-category .search-cards .search-card div {
  position: absolute;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  font-size: 1rem;
  color: #1e242e;
  bottom: 0.1rem;
}
.search .search-category .search-cards .search-card div p {
  text-align: center;
  padding: 0.5rem;
  font-weight: bold;
}
.search .location {
  padding: 2rem 0;
}
.search .location .search-header h1 {
  margin: 2rem 0;
}
.footer {
  padding: 0;
  margin: 0;
  text-align: left;
  background-color: #1e242e;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.footer .footer-content {
  padding: 2rem;
}
.footer .footer-content h1 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: bold;
}
@media (min-width: 600px) {
  .footer .footer-content h1 {
    font-size: 3rem;
  }
}
.footer .footer-content p {
  text-align: left;
  line-height: 1.5rem;
}
@media (min-width: 600px) {
  .footer .footer-content p {
    font-size: 1.2rem;
  }
}
.footer .footer-content button {
  padding: 1.2rem;
  margin: 1rem 0;
  background-color: #2a7be3;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
}
