/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: 'KoHo';
  font-style: normal;
  font-weight: 400;
  src: local('KoHo Regular'), local('KoHo-Regular'), url(https://fonts.gstatic.com/s/koho/v2/K2F-fZ5fmddNNi4UeA.ttf) format('truetype');
}
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  background-color: #1e242e;
  font-family: 'KoHo', sans-serif;
}
.container {
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
}
@media (min-width: 1025px) {
  .container {
    width: 80%;
  }
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #1e242e;
}
header h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem 0;
}
header .nav-menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 0;
}
header .nav-menu a {
  text-decoration: none;
  padding: 0.5rem;
  color: #1e242e;
}
