@import 'variables.less';
@import 'mixins.less';
@import 'reset.less';

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet');

* {
    box-sizing: border-box;
  }
  
  html, body {
    margin: 0; 
    padding: 0;
  }
  
  body {
    .flex(none, center, column);
    background-color: @primary-colour;
    font-family: 'Josefin Sans', sans-serif;
  }

  .container {
    margin: 0 auto; 
    width: inherit;
    background-color: @white;
    @media(min-width: 1025px){
      width: 84%;
  }

  }

  @import '../components/Header/header.less' ;
  @import '../components/Banner/banner.less';
  @import '../components/Guide/guide.less';
  @import '../components/Experience/experience.less';
  @import '../components/Tour-register/tour.less';
  @import '../components/Search-Experience/search.less';
  @import '../components/Footer/footer.less';